/*Finn O'Brien*/
/*Mediocre Card Game Website Style Sheet(Site #2)*/
/*1/26/2022*/



/*The body selector. Sets the website's styling and makes sure it stays consistent between pages*/
body {
    background-image: linear-gradient(#656565, #E0E0E0);
    height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  /*The header selector. Sets the header's styling for all pages*/
  .HDR_Main {
    text-align: center;
    padding: 25px;
    color: black;
    background-color: transparent;
  }
  
/*The header's image selector. Sets the style of the logo image inside of the header*/
  .HDR_Main img {
    max-width: 100%;
    max-height: auto;
  }
  
/*The navbar selector. Sets the background color and overflow properties of the navbar*/
  .BAR_Nav {
    background: linear-gradient(to bottom, #656565, #E0E0E0, #656565);
    box-shadow: 0 4px 8px 0 black;
    overflow: auto;
  }
    
/*The navbar link selector. Sets the properties of the individual links in the navbar*/
  .BAR_Nav a {
    text-align: center;
    padding: 14px 20px;
    color: black;
    float: left;
    display: block;
    text-decoration: none;
  }
    
/*The navbar right-aligned link selector. Sets the alignment of the link to align to the right of the navbar*/
  .BAR_Nav a.right {
    float: right;
  }
    
/*The navbar link hover selector. Changes the coloring of navbar links when hovered over*/ 
  .BAR_Nav a:hover {
    background: linear-gradient(to bottom, #3d3d3d, #E0E0E0, #3d3d3d);
    box-shadow: 0 4px 8px 0 black;
    color: black;
  }

/*The universal selector. Sets the site's box-sizing property*/
  * {
      box-sizing: border-box;
  }
  

/*The content divider selector. Sets the flexbox properties of the container*/
  .DVD_Content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: linear-gradient(to bottom right, #656565, #E0E0E0, #656565);
  }
    
/*The description selector. Sets the flex attributes, coloring, and padding of the description div*/
  .CONT_Desc {
    background-color: transparent;
    color: black;
    padding: 20px;
    flex: 30%;
    border: 4px outset black;
  }
    
/*The main content selector. Sets the flex attributes, coloring, and padding of the main content div*/
  .CONT_Main {
    background-color: transparent;
    color: black;
    padding: 20px;
    flex: 70%;
    border: 4px outset black;
  }
  
/*The footer selector. Sets the text alignment, sizing, and coloring of the footer*/
  .BAR_Foot {
    text-align: center;
    color: white;
    background: black;
    padding: 5px;
  }

/*The "How to Play" content selector. Sets the coloring and text alignment of the "How to Play" div*/
  .CONT_H2P {
      text-align: center;
      color: black;
      background: linear-gradient(to bottom, #656565, #E0E0E0, #656565);
      padding-bottom: 20px;
  }

  .CONT_H2P h1 {
    box-shadow: 0 4px 8px 0 black;
    border: 2px outset black;
  }

  .CONT_H2P h2 {
    border: 2px outset black;
  }

/*The "Cards Container" selector. Sets the flex attributes of the "Cards" container*/
  .DVD_Cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

/*The "Card" item selector. Sets the sizing, border, and positioning of each "Card" item*/
  .ITM_Card {
    box-sizing: border-box;
    background: linear-gradient(to bottom left, #656565, #E0E0E0, #656565);
    box-shadow: 0 4px 8px 0 black;
    max-width: fit-content;
    min-width: 348px;
    padding: 20px;
    margin: 10px;
  }

/*The "Card" header selector. Sets the text alignment of the headers inside of the "Card" items*/
  .ITM_Card h4 {
    text-align: center;
  }

/*The "Card" paragraph selector. Sets the text alignment of the paragraphs inside of the "Card" items*/
  .ITM_Card p {
    text-align: center;
  }

/*The "Card" image selector. Sets the positioning of the images inside of the "Card" items*/
  .ITM_Card img {
    margin: auto;
    display: block;
  }

  .DVD_Drops {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .TBL_Rates {
    text-align: center;
    float: none;
    margin: 30px;
    width: 90%;
    box-shadow: 0 4px 8px 0 black;
    background: linear-gradient(to bottom, #656565, #E0E0E0)
  }

  .TBL_Rates td, .TBL_Rates tr {
    border: 2px inset black;
    padding: 5px;
  }

  .TBL_Rates th {
    border: 2px outset black;
    padding: 7px;
  }
 
/*A media rule. Sets the dynamic resizing properties according to the display size (700px Max)*/
  @media screen and (max-width: 700px) {
    .DVD_Content {
      flex-direction: column;
    }
  }
    
/*A media rule. Sets the dynamic resizing properties according to the display size (400px Max)*/   
  @media screen and (max-width: 400px) {
    .BAR_Nav a {
      float: none;
    }
  }